<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Formulario de Notas</title>
  <link rel="stylesheet" type="text/css" href="/static/css/estilosformulario.css">
</head>
<body>
  <h1>Formulario de Notas</h1>
  <form method="post" action="/ejercicio1">
    <label for="nota1">Nota 1:</label>
    <input type="number" name="nota1" min="10" max="70" required><br>

    <label for="nota2">Nota 2:</label>
    <input type="number" name="nota2" min="10" max="70" required><br>

    <label for="nota3">Nota 3:</label>
    <input type="number" name="nota3" min="10" max="70" required><br>

    <label for="asistencia">Asistencia (%):</label>
    <input type="number" name="asistencia" min="0" max="100" required><br>

    <input type="submit" value="Enviar" class="btn-azul">
  </form>
</body>
</html>