<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Formulario de Nombres</title>
  <link rel="stylesheet" type="text/css" href="/static/css/estilosformularioejercicio2.css">
</head>
<body>
  <h1>Formulario de Nombres</h1>
  <form method="post" action="/ejercicio2">
    <label for="nombre1">Nombre 1:</label>
    <input type="text" name="nombre1" required><br>

    <label for="nombre2">Nombre 2:</label>
    <input type="text" name="nombre2" required><br>




<label for="nombre3">Nombre 3:</label>
    <input type="text" name="nombre3" required><br>




<input type="submit" value="Enviar" class="btn-azul">
  </form>
</body>

</html
</html>